* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Helvetica Now Display", sans-serif;
}

html,body {
  background-color: white;
  color: black;
  height: 100%;
  transition: background-color 0.4s ease,color 0.4s ease;
}

.dark{
    background-color: #444;
    color: #ffffff;
}
.light{
    background-color: #ffffff;
    color: black;
}
#container{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 
}
h2{
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    
}
button{
    background-color: #999;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    padding: 6px;
    border: none;
}
button:hover {
  background-color: #aaa;
}